.landingWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: space-around;

  background-image: url("../../public/bg1.jpg");
  background-size: contain;

  color: #f5cb5c;

  padding-left: 4rem;

  &__name {
    h1 {
      font-size: 5rem;
      font-weight: 700;

      @media screen and (max-width: 450px) {
        font-size: 3rem;
      }
    }
  }

  p {
    color: white;
    font-size: 1.5rem;

    padding: 0 1rem;
  }

  @media screen and (max-width: 450px) {
    padding-left: 0;
    text-align: center;
  }
}
